{% if page.copyright != false %}
<div style="margin-top:2em;padding:0 1em;border:1px solid #d3d3d3;background-color:#deebf7">
  <h3>Copyright</h3>
  <ul>
    <li>Author：<a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
    <li>Link：<a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a></li>
    <li>Notices：Attribution-NonCommercial-NoDerivs(<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">CC BY-NC-ND 3.0</a>)</li>
  </ul>
</div>
{% endif %}
